YT_DATABASE_PATH=./data/yunting.db
YT_DEV_SMS_CODE=123456
YT_ENABLE_DEV_SMS=true
YT_SMS_PROVIDER=aliyun_dypns
YT_SMS_TIMEOUT_SECONDS=10
YT_ALIYUN_SMS_ACCESS_KEY_ID=
YT_ALIYUN_SMS_ACCESS_KEY_SECRET=
YT_ALIYUN_SMS_SIGN_NAME=
YT_ALIYUN_SMS_TEMPLATE_CODE=
YT_ALIYUN_SMS_TEMPLATE_CODE_KEY=code
YT_ALIYUN_SMS_TEMPLATE_EXTRA_PARAMS={}
YT_ALIYUN_SMS_ENDPOINT=dypnsapi.aliyuncs.com
YT_ALIYUN_SMS_REGION_ID=cn-hangzhou
YT_DEVICE_CODE_SALT=YUNTING-ZHIJIA-DEVICE-CODE-V1
YT_WECHAT_APP_ID=
YT_WECHAT_APP_SECRET=
YT_ALLOWED_ORIGINS=*
YT_ADMIN_TOKEN=replace-with-a-long-random-admin-token
YT_BIND_FAILURE_WARNING_THRESHOLD=3
YT_BIND_FAILURE_LOCK_THRESHOLD=10
YT_BIND_FAILURE_LOCK_HOURS=24
YT_MQTT_ENABLED=true
YT_MQTT_HOST=yutingsmarthome.xin
YT_MQTT_PORT=8883
YT_MQTT_TLS=true
YT_MQTT_CA_FILE=
YT_MQTT_CLIENT_ID=yt_cloud_worker
YT_MQTT_USERNAME=
YT_MQTT_PASSWORD=
YT_MQTT_DEVICE_PASSWORD=
YT_MQTT_KEEPALIVE_SECONDS=90
YT_MQTT_POLL_INTERVAL_SECONDS=1.0
YT_MQTT_PUBLISH_BATCH_SIZE=20
